body {
    font-family: Arial, Helvetica, sans-serif;
}

.body-container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

.forum-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid #eee;
}

.parent-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.leftside-tab {
    padding-right: 10px;
    border-right: 2px solid #000;
}

.rightside-tab {
    padding-left: 10px;
    border-left: 2px solid #000;
}

.userpost {
    display: block;
    border: 1px solid #6c6c6c; 
    padding: 50px;
    margin-bottom: 20px;
}

.userpost-container {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}